* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Norse Bold';
    src: url('./static/Norse-Bold.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

.container {
    display: flex;
}

.left {
    background-size: cover;
    background-image: url("./static/halie-west-25xggax4bSA-unsplash.jpg");
    height: 100vh;
    width: 50%;
}

.header {
    height: 100px;
    background-color: hsla(120, 6%, 10%, 0.3);
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 70px;
}

.title {
    font-family: 'Norse Bold', monospace;
    font-size: 5rem;
    color: white;
}

.right {
    display: flex;
    flex-direction: column;
}

.describe {
    flex: 1;
    background-color: rgb(234, 234, 234);
}

.describe p {
    width: 550px;
    margin-left: 40px;
    font-weight: bold;
    font-size: larger;
}

.describe p:first-child {
    margin-top: 180px;
}

.describe p:nth-child(2) {
    margin-top: 20px;
}

form {
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: white;
}

form legend {
    font-weight: bold;
    margin-top: 20px;
    margin-left: 40px;
}

.input_content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex: 1.4;
    margin-top: 20px;
    margin-left: 40px;
    /* margin-right: 200px; */
}

input:focus {
    border-color: blue;
}

input:focus:invalid {
    border-color: red;
}

.submit {
    flex: 1;
    background-color: rgb(234, 234, 234);
}

button {
    height: 50px;
    width: 200px;
    background-color: #596D48;
    color: white;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 40px;
}

.submit p {
    margin-top: 30px;
    margin-left: 40px;
}